{{ define "main" }}
{{ partial "header" . }}

<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <div class="mb-sm">
          Click on a gallery below to see the images.
        </div>
        <div class="container mt-sm mb-xl">
          <div class="row">

            <div class="col-sm pb-sm">
              <a class="thumbnail" href="/posts/untitled"><img src="/images/untitled.jpg"></a>
              <p>Untitled</p>
            </div>
            <div class="col-sm pb-sm">
              <a class="thumbnail" href="/posts/until-next-time"><img src="/images/until-next-time.jpg"></a>
              <p>Until next time</p>
            </div>
            <div class="col-sm">
              <a class="thumbnail" href="/posts/isolation"><img src="/images/isolation.jpg"></a>
              <p>Isolation</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "footer" . }}
{{ end }}