{{ define "main" }}
{{ partial "header" . }}

<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <div class="container mt-sm mb-xl">

          <div class="row">
            <div class="col-sm">
              <a class="thumbnail" href="/posts/until-next-time"><img src="/images/until-next-time.jpg"></a>
              <p>Until next time</p>
            </div>
            <div class="col-sm">
              <a class="thumbnail" href="/posts/2020"><img src="/images/2020.jpg"></a>
              <p>2020</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "footer" . }}
{{ end }}